<div class="action-btnGroup">
    <button class="edit-btn btn" (click)="onEdit($event)">
        <span class="e-icons e-edit"></span>
        <span class="e-text" title="add" >Edit</span>
    </button>
    <button class="delete-btn btn" (click)="onDelete($event)">
        <span class="e-icons e-delete"></span>
        <span class="e-text" title="add" >Delete</span>
    </button>
    <button class="add-btn btn" (click)="onAdd($event)">
        <span class="e-icons e-add"></span>
        <span class="e-text" title="add" >Add</span>
    </button>
</div>