<app-action-button-group
(add)="onAdd($event)"
(edit)="onEdit($event)"
(delete)="onDelete($event)"
>    
</app-action-button-group>

<ejs-grid #grid
[dataSource]='data' 
[allowPaging]="true"  
[editSettings]='editSettings' 
[pageSettings]='pageSettings'  
[allowResizing]='true' 
[selectionSettings]='selectionOptions'
[allowFiltering]='true' 
[filterSettings]='filterOptions' 
[toolbar]='toolbarOptions' 
(rowSelected)='rowSelected($event)'
height='273px'>
    <e-columns>
        <e-column  *ngFor="let c of columnData"
        [field]='c.field' 
        [headerText]='c.headerText' 
        textAlign='center' 
        width=100>
        
    </e-column>
    </e-columns>
</ejs-grid>
