<div class="wrapper">
    <div class="grid-title">
        <div class="title">{{title}}</div>
         <ejs-dropdownlist 
         id="dropdown"
         (change)="onFilterFrameworkChange($event)" 
         [dataSource]='frameworks' 
         [fields]='fields' 
         placeholder="All"
         ></ejs-dropdownlist>
    </div>
    <div class="grid-cont">
        <ejs-grid #grid
        (commandClick)='commandClick($event)' 
        [editSettings]='editSettings'

        [dataSource]='courseData' >
        <div tabindex="0" class="e-card">
        <e-columns>
            <e-column  *ngFor="let c of columnData"
            [field]='c.field' 
            [headerText]='c.headerText' 
            textAlign='center' 
            width=100>
        
            </e-column>
            <e-column *ngIf="isUserCourse" headerText='approve' width=100 [commands]='commands' textAlign="center">
            </e-column>
        </e-columns>
        </div>
</ejs-grid>
    </div>

</div>