
.submit::before {
    content: '\e735';
}
.cancel::before{
    content: '\e7fc';
}
button{
    font-size: large;
}
button:disabled{
    opacity: 0.6;
}
.btn-group{
    margin: 50px;

}
.btn-submit{
  margin-right: 20px;
    background-color: #3EA1EC;
    color: white;
    border: none;
    padding:10px;
}
.btn-cancel{
  
    background-color: red;
    color:white;
    border: none;
    padding: 10px;
    padding-right: 15px;

}