<div class="wrapper">
    <div class="header">
        <div>
            <legend>DevStudy</legend>
        </div>

      <div class="nav-top">
        <a routerLink="/user/home" routerLinkActive="active-link">Home</a>
        <a href="">Courses</a>
        <a href="">Road Maps</a>
        <a href="">My suggestions</a>
        <a href="">About Us</a>
      </div>

      <div class="profile">
        <div class="profile-icon">
           <img src="../../assets/images/dev_icon.png" alt="">
        </div>
        <div class="profile-name">{{userName}}</div>

      </div>
    </div>



   
    <router-outlet></router-outlet>




    <div class="footer">
        <div class="nav-bottom">
            <a href="">Courses</a>
            <a href="">Road Maps</a>
            <a href="">My suggestions</a>
            <a href="">About Us</a>
          </div>
 
          <div class="social">
            <div class="social-title">
                Contact Us
            </div>
            <div class="social-icons">
                <div class="icon"></div>
                <div class="icon"></div>
                <div class="icon"></div>
             
            </div>

          </div>

    </div>
</div>
